<html>
    {% include "header.html" %}
    <body>
    {% for post in posts %}
        {% if post["id"] == index %}
            {% set current_post = post %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ current_post['url'] }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                                <h1>{{ current_post["title"] }}</h1>
                                <h2 class="subheading">{{ current_post["subtitle"] }}</h2>
                                <span class="meta">
                                    Posted by
                                    <a href="{{ url_for('self_information') }}">{{ current_post["author"] }}</a>
                                    on {{ current_post["date"] }}
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{ current_post["body"] }}</p>
                        <button class="btn btn-outline-secondary btn-dark px-4 rounded-pill" type="button">
                        <a href="{{ url_for('home') }}" class="text-light">Back →</a>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
        </article>
        <!-- Footer-->
        {% include "footer.html" %}
    </body>
</html>
