<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Small Ou</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="icon" href="static/s.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Small.</h1>
      <h2>a Junior Programmer,</h2>
      <h2 style="text-align: right; margin-right:300px">nice to meet you.</h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="sky-line" src="static/skyline.png" alt="sky-line">
  </div>

  <div class="middle-container">
    <img class="mid-cloud" src="static/cloud.png" alt="cloud">
    <div class="profile">
      <img id="small" src="static/small.png" alt="small-cartoon-img" width="150px">
      <h2>Hello.</h2>
      <p class="intro">I am a Python Developer. I'm still nobody but I'm trying to let you know about me😁.
        I love chocolate 🍫 and video games 🎮 even though I'm terrible at playing .</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="bot-cloud" src="static/cloud.png" alt="cloud">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">
        <h3>Development</h3>
        <p class="skill-intro">I started learning to code in recent months because I wanted to change my meticulous lift-style.
          For now, I have learned coding for several months and gaining experience of developing projects.</p>

      </div>
      <div class="skill-row">
        <img class="cook-bake-img" src="https://media.giphy.com/media/l49JKrhsZR0AfIdKo/giphy.gif" alt="cook">

        <h3>Bake and Cook</h3>
        <p class="skill-intro">But I think my best skills are actually baking and cooking🍳.
          I enjoy baking and cooking for my family and friends. I will be walked on air if they like my food.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you want to share your food with me.</h3>
      <p class="contact-message">Let's talk about how amazing they are! We can code while we eat our masterpiece!</p>
      <a class="btn" href="https://www.linkedin.com/in/small-ou-3a11982a1/">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/small-ou-3a11982a1/">LinkedIn</a>
    <a class="footer-link" href="https://www.facebook.com/profile.php?id=61551541611514">facebook</a>
    <a class="footer-link" href="https://github.com/ousmall">GitHub</a>
    <p class="copyright">© 2024 Small Ou @ The Nothing.</p>
  </div>
</body>

</html>
